<a href="https://colab.research.google.com/github/sho12333/deeplearning/blob/master/%E8%A8%80%E8%AA%9E%E3%83%8E%E3%83%83%E3%82%AF/%E3%83%8E%E3%83%83%E3%82%AF2%E7%AB%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **10. 行数のカウント**

行数をカウントせよ．確認にはwcコマンドを用いよ

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving popular-names.txt to popular-names.txt
User uploaded file "popular-names.txt" with length 55026 bytes

In [ ]:
with open('/content/popular-names.txt') as file:
    line=file.readlines()
    print(len(line))

2780

# **11. タブをスペースに置換**

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ

In [ ]:
with open('/content/popular-names.txt')as file:
    file=file.read()
    file=file.replace('\t',' ')
    print(file)

# **12. 1列目をcol1.txtに，2列目をcol2.txtに保存**

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ

In [ ]:
with open('/content/popular-names.txt')as file:
    file=file.readlines()
    col1=file[0]
    col2=file[1]

with open('/content/col1.txt','w') as file1:
    file1.write(col1)

with open('/content/col2.txt','w') as file2:
    file2.write(col2)

# **13. col1.txtとcol2.txtをマージ**


12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ

In [ ]:
with open('/content/col1.txt') as file1:
    col1=file1.read()
    col1=col1.replace(' ','\t')

with open('/content/col2.txt') as file2:
    col2=file2.read()
    col2=col2.replace(' ','\t')

with open('/content/col_merge.txt','w') as file:
    file.write(col1)
    file.write(col2)

# **14. 先頭からN行を出力**

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ

In [ ]:

def n_line(N):
    count=1
    with open('/content/popular-names.txt')as file:

        line=file.readlines()
        for i in range(len(line)):

            if i<N:
                print(count,line[i])
            count+=1

n_line(5)

1 Mary	F	7065	1880

2 Anna	F	2604	1880

3 Emma	F	2003	1880

4 Elizabeth	F	1939	1880

5 Minnie	F	1746	1880

# **15. 末尾のN行を出力**


自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ

In [ ]:
def n_line_tail(N):
    count=1
    with open('/content/popular-names.txt')as file:

        line=file.readlines()
        for i in range(len(line)):

            if i<N:
                print(count,line[-i])
            count+=1

n_line_tail(5)

1 Mary	F	7065	1880

2 Logan	M	12352	2018

3 Mason	M	12435	2018

4 Lucas	M	12585	2018

5 Elijah	M	12886	2018

# **16. ファイルをN分割する**


自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ

In [ ]:
#ギブアップ　分からないので写した

import math

fname = '/content/popular-names.txt'
n = int(input('N--> '))

with open('/content/popular-names.txt') as file:
    lines = file.readlines()

count = len(lines)
unit = math.ceil(count / n)  # 1ファイル当たりの行数

for i, offset in enumerate(range(0, count, unit), 1):
    with open('child_{:02d}.txt'.format(i), mode='w') as out_file:
        for line in lines[offset:offset + unit]:
            out_file.write(line)

N--> 10

# **17. １列目の文字列の異なり**


1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ

In [ ]:
with open('/content/popular-names.txt')as file:
    line=file.readline()
    line=line.replace('\t','')
    line=line.replace('\n','')
    ans=[]
    for i in line:
        if  not i in ans:
            ans.append(i)
print(ans)

['M', 'a', 'r', 'y', 'F', '7', '0', '6', '5', '1', '8']

# **18. 各行を3コラム目の数値の降順にソート**


各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）

In [ ]:
with open('/content/popular-names.txt')as file:
    line=file.readline()
    results = []
    for line in lines:
        line = line.split("\t")
        results.append(line)
    
        results = sorted(results, key=lambda x: x[2], reverse=True)

    for result in results:
        print(result)

# **19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる**


各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ

In [ ]:
from collections import Counter

with open('/content/popular-names.txt')as file:
    line=file.readline()
    results = []
    for line in lines:
        line = line.split("\t")
        results.append(line)

        #results = sorted(results, key=lambda x: x[0])

        
        

ans=[]
for i in results:
    ans.append(i[0])

c=Counter(ans)
for word in c.most_common():
    print(word)